.clearfix::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: "\020";
}
.glpb-component {
	position: relative; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component div {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component p {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component span {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component a {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component ul {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component ol {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component dl {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component li {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component dt {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component dd {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component h1 {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component h2 {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component h3 {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component h4 {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component h5 {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.glpb-component h6 {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.gplb-sys-editor .glpb-editor-setting-wrap {
	height: 0px; overflow: visible; display: none; position: relative; z-index: 10;
}
.gplb-sys-editor .glpb-editor-setting-wrap .gplb-editor-setting-bar {
	background: rgb(255, 255, 255); left: 0px; top: 0px; width: 30px; position: absolute;
}
.gplb-sys-editor .glpb-editor-setting-wrap .gplb-editor-setting-bar .glpb-editor-op-btn {
	width: 26px; height: 26px; color: orange; line-height: 26px; font-size: 26px; margin-top: 10px;
}
.gplb-sys-editor .glpb-editor-setting-wrap .gplb-editor-setting-bar .editor-op-more {
	height: 0px; overflow: hidden;
}
.gplb-sys-editor .editor-op-show-more .gplb-editor-setting-bar .editor-op-more {
	height: auto;
}
.gplb-sys-editor .glpb-editor-bar-showing > .glpb-editor-setting-wrap {
	display: block;
}
.gplb-sys-editor .glpb-component {
	outline: rgb(132, 132, 132) dashed 1px;
}
.gplb-sys-editor .custom-state-active {
	outline: blue dashed 2px;
}
.gplb-sys-editor .custom-state-hover {
	background: lightblue;
}
.gplb-sys-editor .glpb-editor-com-editing {
	outline: deeppink dashed 2px;
}
.glpb-com-layout_row .glpb-com-content {
	height: 100%;
}
.glpb-com-layout_column {
	float: left;
}
.gplb-sys-editor .glpb-com-layout_column > .glpb-editor-setting-wrap .gplb-editor-setting-bar {
	left: auto; right: 0px;
}
.glpb-com-glpb_image img {
	border: 0px currentColor; border-image: none; display: block;
}
.glpb-com-glpb_new_image img {
	border: 0px currentColor; border-image: none; display: block;
}
.gplb-sys-editor .glpb-com-glpb_image > .glpb-editor-setting-wrap .gplb-editor-setting-bar {
	left: 0px; top: auto; bottom: 0px;
}
.gplb-sys-editor .glpb-com-glpb_new_image > .glpb-editor-setting-wrap .gplb-editor-setting-bar {
	left: 0px; top: auto; bottom: 0px;
}
.slick-slider {
	display: block; position: relative; box-sizing: border-box; -ms-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent;
}
.slick-list {
	margin: 0px; padding: 0px; overflow: hidden; display: block; position: relative;
}
.slick-list:focus {
	
}
.slick-list.dragging {
	cursor: pointer;
}
.slick-slider .slick-track {
	transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0);
}
.slick-track {
	left: 0px; top: 0px; display: block; position: relative;
}
.slick-track::before {
	display: table; content: "";
}
.slick-track::after {
	display: table; content: "";
}
.slick-track::after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	height: 100%; float: left; display: none; min-height: 1px;
}
[dir='rtl'] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	border: 1px solid transparent; border-image: none; height: auto; display: block;
}
.slick-arrow.slick-hidden {
	display: none;
}
.glpb-com-glpb_carousel .glpb-carousel-inner {
	width: 100%; height: 100%;
}
.glpb-com-glpb_carousel .glpb-carousel-inner .glpb-carousel-item {
	width: 100%; height: 100%; overflow: hidden;
}
.glpb-com-glpb_carousel .glpb-carousel-inner a {
	text-decoration: none; display: block;
}
.glpb-com-glpb_carousel .glpb-carousel-inner img {
	border: 0px currentColor; border-image: none; width: 100%; height: 100%; display: block;
}
.glpb-com-glpb_rich_text {
	position: static;
}
.glpb-com-glpb_rich_text .glpb-content {
	font-size: inherit;
}
.glpb-com-glpb_link_button > .glpb-content {
	width: 100%; height: 100%; color: inherit; display: block;
}
.glpb-com-glpb_we_com_pc_lp_header {
	background: rgb(255, 255, 255); overflow: hidden;
}
.glpb-com-glpb_we_com_pc_lp_header .glpb-content {
	margin: 0px auto; width: 1080px; position: relative;
}
.glpb-com-glpb_we_com_pc_lp_header .we-contact {
	top: 23px; height: 20px; right: 0px; color: rgb(162, 162, 162); position: absolute;
}
.glpb-com-glpb_we_com_pc_lp_header .we-contact .user-abs {
	color: rgb(162, 162, 162); line-height: 19px; font-size: 14px; vertical-align: middle;
}
.glpb-com-glpb_we_com_pc_lp_header .we-contact .user-abs a {
	color: rgb(44, 102, 171); line-height: 19px; font-size: 14px;
}
.glpb-com-glpb_we_com_pc_lp_header .we-contact .header-phone {
	width: auto; height: 19px; margin-left: 20.5px; vertical-align: middle;
}
.glpb-com-glpb_we_com_pc_lp_header .we-contact .contact-us {
	color: rgb(132, 132, 132); line-height: 17px; font-family: HelveticaNeueLt; font-size: 20px; vertical-align: middle;
}
.glpb-com-glpb_carousel .slick-dots {
	list-style: none; margin: 0px; padding: 0px; width: 100%; text-align: center; bottom: 20px; display: block; position: absolute;
}
.glpb-com-glpb_carousel .slick-dots li {
	margin: 0px 5px; padding: 0px; width: 20px; height: 20px; display: inline-block; position: relative; cursor: pointer;
}
.glpb-com-glpb_carousel .slick-dots li button {
	background: none; padding: 5px; border: 0px currentColor; border-image: none; width: 20px; height: 20px; color: transparent; line-height: 0; font-size: 0px; display: block; cursor: pointer;
}
.glpb-com-glpb_carousel .slick-dots li button:hover {
	
}
.glpb-com-glpb_carousel .slick-dots li button:focus {
	
}
.glpb-com-glpb_carousel .slick-dots li button:hover::before {
	opacity: 1;
}
.glpb-com-glpb_carousel .slick-dots li button:focus::before {
	opacity: 1;
}
.glpb-com-glpb_carousel .slick-dots li button::before {
	left: 0px; top: 0px; width: 20px; height: 20px; text-align: center; color: black; line-height: 20px; font-family: "slick"; font-size: 36px; position: absolute; content: "?"; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.glpb-com-glpb_carousel .slick-dots li.slick-active button::before {
	color: black; opacity: 0.75;
}
.glpb-com-glpb_we_com_pc_lp_title {
	background: rgb(255, 255, 255);
}
.glpb-com-glpb_we_com_pc_lp_title .glpb-content {
	margin: 0px auto; width: 1080px; text-align: center; position: relative;
}
.glpb-lp-registration-box {
	width: 350px; position: relative; min-height: 420px; max-height: 457px;
}
.glpb-lp-registration-box .voiceCode {
	color: rgb(153, 153, 153); line-height: 1; font-size: 12px; margin-top: 7px; margin-bottom: -3px; display: none; cursor: pointer;
}
.glpb-lp-registration-box .btn-disable {
	background: rgb(196, 196, 196) !important;
}
.glpb-lp-registration-box .login-bg-new {
	background: rgb(255, 255, 255); border-radius: 3px; width: 350px; height: 386px; right: 0px; position: absolute;
}
.glpb-lp-registration-box .glpb-content {
	top: 0px; width: 350px; right: 0px; position: absolute; z-index: 999; min-height: 355px; max-height: 457px;
}
.glpb-lp-registration-box .register-head {
	height: 55px; text-align: center;
}
.glpb-lp-registration-box .register-head h3 {
	background: url("//www.we.com/cms/5788c3322fc6cb3b46b9e7e2/lp/lpIcon.png") no-repeat 82px rgb(250, 250, 250); border-radius: 3px; height: 55px; color: rgb(132, 132, 132); line-height: 55px; padding-left: 30px; font-size: 14px;
}
.glpb-lp-registration-box .highlight-con {
	background: rgb(255, 136, 19); color: rgb(255, 251, 242); line-height: 35px; font-size: 16px;
}
.glpb-lp-registration-box .step-list {
	margin: 0px auto; width: 290px; position: relative;
}
.glpb-lp-registration-box .step-item {
	width: 100%; position: absolute;
}
.glpb-lp-registration-box .red {
	text-align: center; color: red;
}
.glpb-lp-registration-box .form-phone {
	margin-top: 26px;
}
.glpb-lp-registration-box .form-phone .rui-form-error-info {
	display: none;
}
.glpb-lp-registration-box .form-phone .rui-input-wrap {
	padding: 0px; border-radius: 2px; border: 1px solid rgb(230, 230, 230); border-image: none; line-height: normal; overflow: hidden; font-size: 0px; position: relative;
}
.glpb-lp-registration-box .form-phone .rui-input-wrap:hover {
	border-color: rgb(51, 51, 51);
}
.glpb-lp-registration-box .form-phone .rui-form-text-error .rui-input-wrap {
	border-color: rgb(238, 117, 101);
}
.glpb-lp-registration-box .form-phone .rui-input-wrap :-ms-input-placeholder {
	color: rgb(204, 204, 204);
}
.glpb-lp-registration-box .form-phone .rui-form-input {
	background: none; padding: 14px 0px 14px 13px; border: 0px currentColor; border-image: none; width: 265px; height: 42px; color: rgb(43, 43, 43); line-height: normal; font-size: 14px; vertical-align: middle; box-sizing: border-box;
}
.glpb-lp-registration-box .form-phone .rui-form-placeholder {
	padding: 0px; left: 13px; top: 0px; width: 100%; height: 100%; color: rgb(102, 102, 102); line-height: 43px; font-size: 14px; position: absolute;
}
.glpb-lp-registration-box .form-phone .register-item-con {
	margin-top: 10px; position: relative;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap {
	margin-top: 10px; display: none; position: relative;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rand-code-con {
	float: left;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rand-code-con .rui-input-wrap {
	border-radius: 3px; width: 175px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rand-code-con .rui-input-wrap input {
	padding: 14px 0px 14px 13px;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rui-phone-code-image-con {
	display: inline-block; position: relative;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rui-phone-code-image-con .code-image-wrap {
	border-radius: 3px; border: 1px solid rgb(230, 230, 230); border-image: none; left: 0px; top: 0px; width: 105px; height: 43px; text-align: center; position: absolute; background-color: rgb(255, 255, 255); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rui-phone-code-image-con .code-image-wrap img {
	border: 0px currentColor; border-image: none; width: 105px; height: 100%;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rui-phone-code-image-con.img-clickable .code-image-wrap {
	cursor: pointer;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rui-form-error-info {
	right: 120px;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .code-image-con {
	width: 104px; height: 43px; float: right;
}
.glpb-lp-registration-box .form-phone .phone-code-input .rui-input-wrap {
	width: 175px; float: left;
}
.glpb-lp-registration-box .form-phone .phone-code-input .phone-code-pass {
	border-radius: 4px; top: 0px; width: 105px; height: 44px; text-align: center; right: 0px; color: rgb(255, 255, 255); line-height: 44px; font-size: 14px; float: right; display: inline-block; cursor: pointer; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.glpb-lp-registration-box .form-phone .phone-code-input .phone-code-pass.j-btn-gary {
	background: rgb(225, 225, 225);
}
.glpb-lp-registration-box .form-phone .phone-code-input .phone-code-pass .btn-submit-loading {
	height: 24px; margin-top: 10px; display: none;
}
.glpb-lp-registration-box .form-phone .validate-error-con .rui-form-error-info {
	padding: 0px 10px; border-radius: 3px; border: 1px solid rgb(230, 230, 230); border-image: none; left: auto; top: 3px; height: 35px; right: 300px; color: rgb(102, 102, 102); line-height: 35px; font-size: 14px; white-space: nowrap; position: absolute; background-color: rgb(255, 255, 255); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.glpb-lp-registration-box .form-phone .validate-error-con .rui-form-error-info::after {
	border-width: 6px 0px 6px 6px; border-style: solid; border-color: transparent rgb(230, 230, 230); top: 50%; height: 0px; right: -7px; line-height: 0; font-size: 0px; margin-top: -5px; position: absolute; content: "";
}
.glpb-lp-registration-box .form-phone .validate-error-con .rui-form-error-info::before {
	border-width: 5px 0px 5px 5px; border-style: solid; border-color: transparent rgb(255, 255, 255); top: 50%; height: 0px; right: -5px; line-height: 0; font-size: 0px; margin-top: -4px; position: absolute; z-index: 1; content: "";
}
.glpb-lp-registration-box .form-phone .agreement-wrap .register-agree-con {
	height: 38px; font-size: 12px; display: block;
}
.glpb-lp-registration-box .form-phone .agreement-wrap .register-agree-con .checkbox-holder {
	padding: 2px 0px 2px 20px;
}
.glpb-lp-registration-box .form-phone .agreement-wrap .register-agree-con .checkbox-holder input {
	display: none;
}
.glpb-lp-registration-box .form-phone .agreement-wrap .register-agree-con .rui-form-error-info {
	top: -7px;
}
.glpb-lp-registration-box .form-phone .submit-box {
	border-radius: 4px !important; border: 0px currentColor !important; border-image: none !important; height: 45px; overflow: hidden; margin-top: 29px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.glpb-lp-registration-box .form-phone .submit-box .submit-btn {
	width: 100%; height: 45px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; padding-left: 0px; font-size: 16px; font-weight: 600; display: block; cursor: pointer;
}
.glpb-lp-registration-box .form-phone .submit-box .btn-submit-loading {
	height: 24px; margin-top: 8px; display: none;
}
.glpb-lp-registration-box .form-phone .submit-error-info {
	color: rgb(255, 0, 0); font-size: 12px; margin-top: 10px; white-space: nowrap;
}
.glpb-lp-registration-box input[type=text]:focus {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}
.glpb-lp-registration-box input[type=password]:focus {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}
.glpb-lp-registration-box textarea:focus {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}
.glpb-lp-registration-box .register-agree {
	text-align: justify; color: rgb(153, 153, 153); line-height: 1.75; font-size: 12px; margin-top: 10px;
}
.glpb-lp-registration-box .register-agree a {
	color: rgb(44, 102, 171); font-size: 12px;
}
.glpb-lp-registration-box input {
	outline: 0px;
}
.lp-detail-modal-main {
	background: rgba(0, 0, 0, 0.7); left: 0px; top: 0px; right: 0px; bottom: 0px; display: none; position: absolute; z-index: 9998;
}
.lp-detail-modal-main .risk-modal-form {
	background: rgb(255, 255, 255); padding: 20px 30px 40px; left: 50%; top: 0px; width: 700px; color: rgb(51, 51, 51); margin-left: -350px; position: absolute; z-index: 9999;
}
.lp-detail-modal-main .risk-modal-form .header {
	position: relative;
}
.lp-detail-modal-main .risk-modal-form .header .title {
	font-size: 16px;
}
.lp-detail-modal-main .risk-modal-form .header .dialog-close-btn {
	top: -12px; right: -5px; color: rgb(204, 204, 204); font-size: 30px; position: absolute; cursor: pointer;
}
.lp-detail-modal-main .risk-modal-form .msg {
	margin: 30px 0px 24px; height: 308px; -ms-overflow-y: auto;
}
.lp-detail-modal-main .risk-modal-form .button-group {
	text-align: center;
}
.lp-detail-modal-main .risk-modal-form .button-group .close {
	border-radius: 2px; text-align: center; line-height: 40px; font-size: 14px; display: inline-block; cursor: pointer;
}
.lp-detail-modal-main .risk-modal-form .button-group .submit {
	border-radius: 2px; text-align: center; line-height: 40px; font-size: 14px; display: inline-block; cursor: pointer;
}
.lp-detail-modal-main .risk-modal-form .button-group .close {
	border: 1px solid rgb(255, 114, 31); border-image: none; width: 198px; height: 38px; color: rgb(255, 114, 31);
}
.lp-detail-modal-main .risk-modal-form .button-group .submit {
	background: rgb(255, 114, 31); width: 200px; height: 40px; color: rgb(255, 255, 255); margin-bottom: 26px; margin-left: 50px;
}
.lp-register-solid-bottom-bar {
	background: url("https://s0.renrendai.com/cms/5864b0d6a24d131067ef7956/PC-LP-picture/bottom_bg_917.png") no-repeat bottom; left: 0px; width: 100%; height: 90px; bottom: 0px; display: none; position: fixed; z-index: 9990;
}
.lp-register-solid-bottom-bar .lp-register-solid-bottom-bar-button-bg {
	background: url("https://s0.renrendai.com/cms/5864b0d6a24d131067ef7956/PC-LP-picture/bottom_button2x.png") no-repeat 0% 0% / 100% auto; left: 50%; width: 440px; height: 128px; bottom: 0px; margin-left: -220px; position: absolute;
}
.lp-register-solid-bottom-bar .lp-register-solid-bottom-bar-button-bg .glpb-com-glpb_we_com_pc_lp_show-reg-popup {
	left: 38px; width: 390px; height: 62px; bottom: 16px; position: absolute;
}
.glpb-com-glpb_we_com_pc_lp_reg-popup-mask {
	background: rgba(0, 0, 0, 0.7); left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; z-index: 9992;
}
.glpb-com-glpb_we_com_pc_lp_reg-popup-content {
	margin: -222px 0px 0px -420px; left: 50%; top: 50%; width: 840px; height: 444px; position: fixed; z-index: 9993;
}
.glpb-com-glpb_we_com_pc_lp_reg-popup-content .glpb-com-glpb_we_com_pc_lp_reg-popup-left {
	width: 420px; height: 100%; overflow: hidden;
}
.glpb-com-glpb_we_com_pc_lp_reg-popup-content .glpb-com-glpb_we_com_pc_lp_reg-popup-left img {
	width: 420px; height: auto;
}
.glpb-com-glpb_we_com_pc_lp_reg-popup-content .glpb-com-glpb_we_com_pc_lp_reg-popup-right {
	background: rgb(255, 255, 255); width: 420px; padding-top: 40px; position: relative; min-height: 403px;
}
.glpb-com-glpb_we_com_pc_lp_reg-popup-content .glpb-com-glpb_we_com_pc_lp_reg-popup-right .glpb-com-glpb_we_com_pc_lp_regitstration-content {
	margin: 0px auto; width: 350px; position: relative;
}
.glpb-com-glpb_we_com_pc_lp_reg-popup-content .glpb-com-glpb_we_com_pc_lp_reg-popup-right .glpb-com-glpb_we_com_pc_lp_reg-popup-close {
	top: 12px; width: 17px; height: 17px; right: 20px; color: rgb(204, 204, 204); line-height: normal; font-size: 0px; position: absolute; z-index: 9995;
}
.glpb-com-glpb_we_com_pc_lp_reg-popup-content .glpb-com-glpb_we_com_pc_lp_reg-popup-right .glpb-com-glpb_we_com_pc_lp_reg-popup-close img {
	width: 17px; height: auto;
}
.glpb-com-glpb_we_com_pc_lp_reg-popup-content .glpb-com-glpb_we_com_pc_lp_reg-popup-right .glpb-com-glpb_we_com_pc_lp_reg-popup-gray-bar {
	background: rgb(250, 250, 250); left: 0px; top: 40px; width: 100%; height: 55px; position: absolute;
}
.glpb-com-glpb_we_com_pc_lp_registration_row > .glpb-content {
	margin: 0px auto; width: 1080px; height: 100%; position: relative;
}
.glpb-com-glpb_we_com_pc_lp_registration_row > .glpb-content .glpb-com-glpb_we_com_pc_lp_regitstration_box {
	top: 21px; right: 0px; position: absolute;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list {
	
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .clearfix::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .clearfix {
	
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .float-left {
	float: left;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .float-right {
	float: right;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail {
	background: rgb(255, 255, 255); margin: 0px auto; border-radius: 5px; width: 1040px; display: block;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-title {
	height: 56px; padding-left: 25px; border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-title .newer-icon {
	margin: 16px 24px 0px 0px; width: 75px; height: 23px; float: left;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-title .newer-plan-name {
	width: 170px; color: rgb(51, 51, 51); line-height: 56px; font-size: 16px; float: left;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-title .newer-explain {
	width: 400px; color: rgb(153, 153, 153); line-height: 56px; font-size: 12px; float: left;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data {
	padding: 35px 65px 35px 0px; width: 1040px;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt {
	float: left;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div {
	width: 352px; text-align: center; border-right-color: rgb(235, 235, 235); border-right-width: 1px; border-right-style: solid; float: left;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div p {
	line-height: normal;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div .color-deep-orange {
	color: rgb(255, 79, 0);
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div .color-grey {
	color: rgb(88, 88, 88);
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div .font-40 {
	font-size: 40px;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div .font-36 {
	font-size: 36px;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div .font-18 {
	font-size: 18px;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div .font-14 {
	font-size: 14px;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div .tips {
	color: rgb(184, 184, 184); line-height: 1.5;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dd {
	width: 150px; float: right;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dd .btn-join {
	background: rgb(255, 79, 0); border-radius: 2px; width: 150px; height: 32px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; font-size: 14px; margin-bottom: 10px; display: block;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dd .btn-join:hover {
	background: rgb(242, 108, 29);
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dd p {
	text-align: center; color: rgb(153, 153, 153); font-size: 12px;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium {
	background: rgb(255, 255, 255); margin: auto; border-radius: 3px; width: 1040px; height: 165px;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list li {
	float: left;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list li .text {
	color: rgb(184, 184, 184); font-size: 14px;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-name {
	margin: 70px 0px 0px 35px; color: rgb(0, 0, 0); font-size: 20px;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-rate {
	margin: 50px 0px 0px 175px; color: rgb(236, 92, 42); padding-right: 57px; font-size: 36px; border-right-color: rgb(229, 229, 229); border-right-width: 1px; border-right-style: solid;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-rate span {
	font-size: 18px;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-lock {
	margin: 68px 0px 0px 75px; color: rgb(0, 0, 0); font-size: 20px;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-lock .text {
	margin-top: 7px;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-btn {
	margin: 78px 0px 0px 125px;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-btn .btn-join {
	background: rgb(255, 79, 0); border-radius: 4px; width: 134px; height: 42px; text-align: center; color: rgb(255, 255, 255); line-height: 42px; font-size: 18px; display: block;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-btn .btn-join:hover {
	background: rgb(242, 108, 29);
}
.rrd-lp-footer {
	padding: 30px 0px 65px; text-align: center; color: rgb(153, 153, 153); font-size: 12px;
}
.rrd-lp-footer p {
	line-height: 25px;
}
.uplan-item-box {
	margin: 10px auto; width: 1080px;
}
.uplan-item-box .fl-right {
	float: right;
}
.uplan-item-box .product-title {
	color: rgb(51, 51, 51); line-height: 60px; overflow: hidden; font-size: 18px; border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
.uplan-item-box .product-title h2 {
	font-size: 18px; margin-left: 42px; float: left;
}
.uplan-item-box .product-title .sign {
	top: -3px; width: 57px; margin-right: 12px; vertical-align: middle; position: relative;
}
.uplan-item-box .product-title .gift {
	color: rgb(190, 55, 41); font-size: 14px; margin-right: 34px;
}
.uplan-item-box .product-title .gift .img-gift {
	top: -2px; width: 17px; margin-right: 8px; vertical-align: middle; position: relative;
}
.uplan-item-box .plan-detail-box {
	padding: 0px; height: 139px;
}
.uplan-item-box .plan-detail-box li {
	width: 199px; height: 80px; text-align: center; color: rgb(153, 153, 153); margin-top: 28px; border-right-color: rgb(235, 235, 235); border-right-width: 1px; border-right-style: solid; float: left;
}
.uplan-item-box .plan-detail-box li span.plan-rate-text {
	color: rgb(153, 153, 153); font-size: 14px; display: block;
}
.uplan-item-box .plan-detail-box .rate-box .num {
	color: rgb(206, 53, 53); line-height: 60px; font-size: 36px;
}
.uplan-item-box .plan-detail-box .rate-box .symbol {
	color: rgb(206, 53, 53); font-size: 14px;
}
.uplan-item-box .plan-detail-box .rate-box .increase-rate {
	color: rgb(206, 53, 53); font-size: 14px;
}
.uplan-item-box .plan-detail-box .month-box .month {
	color: rgb(51, 51, 51); line-height: 60px; font-size: 30px;
}
.uplan-item-box .plan-detail-box .money-num-box .money-num {
	color: rgb(51, 51, 51); line-height: 60px; font-size: 30px;
}
.uplan-item-box .plan-detail-box .tip-box {
	border: currentColor; border-image: none; width: 480px; text-align: left; color: rgb(51, 51, 51); line-height: 80px; font-size: 18px;
}
.uplan-item-box .plan-detail-box .tip-box .join-btn {
	background: rgb(188, 52, 52); border-radius: 5px; width: 110px; text-align: center; color: rgb(255, 255, 255); line-height: 42px; font-size: 14px; margin-top: 20px; margin-right: 20px; float: right; cursor: pointer;
}
.uplan-item-box .plan-detail-box .tip-box .join-btn:hover {
	background: rgb(183, 30, 30);
}
.uplan-item-box .plan-detail-box .tip-box .plan-desc {
	width: 340px; text-align: center; color: rgb(51, 51, 51); line-height: 32px; font-size: 18px; margin-top: 25px; float: left; min-height: 42px;
}
.rrd-company-info-box {
	background: rgb(255, 255, 255); margin: 0px auto; width: 1080px;
}
.rrd-company-info-box .data-box {
	padding: 30px 0px; line-height: 35px; min-height: 95px;
}
.rrd-company-info-box .data-box .rrd-data {
	width: 540px; text-align: center; color: rgb(51, 51, 51); font-size: 16px;
}
.rrd-company-info-box .data-box .rrd-data .number-box {
	margin-left: 8px;
}
.rrd-company-info-box .data-box .rrd-data em {
	padding: 0px 5px; border-radius: 2px; border: 1px solid rgb(249, 103, 18); border-image: none; color: rgb(249, 103, 18); font-size: 19px; font-weight: 600; margin-right: 9px;
}
.rrd-company-info-box .data-box .border-right {
	border-right-color: rgb(235, 235, 235); border-right-width: 1px; border-right-style: solid;
}
.rrd-company-info-box .left {
	float: left;
}
.rrd-company-info-box .right {
	float: right;
}
.product-list-card {
	margin: 10px auto; width: 1080px; height: auto;
}
.product-list-card ul {
	width: 1080px; height: 270px; padding-bottom: 10px;
}
.product-list-card ul li {
	background: rgb(255, 255, 255); transition:0.2s linear; width: 170px; height: 270px; margin-left: 12px; float: left; position: relative; cursor: pointer;
}
.product-list-card ul li .cover {
	left: 0px; top: 0px; width: 170px; height: 270px; display: block; position: absolute;
}
.product-list-card ul li .time {
	width: 170px; height: 50px; text-align: center; display: block; position: relative;
}
.product-list-card ul li .time .month {
	width: auto; height: 49px; display: inline-block;
}
.product-list-card ul li .time .month em {
	padding: 0px 6px; color: rgb(51, 51, 51); line-height: 49px; font-size: 14px; font-style: normal; float: left; display: inline-block;
}
.product-list-card ul li .time .month img {
	width: 15px; height: 15px; margin-top: 16px; float: left; display: inline-block;
}
.product-list-card ul li .time .xian {
	left: 20px; width: 130px; height: 1px; bottom: 0px; display: block; position: absolute;
}
.product-list-card ul li .rate {
	width: 170px; height: 150px; text-align: center; margin-top: 20px;
}
.product-list-card ul li .rate .num {
	width: auto; height: 49px; display: inline-block;
}
.product-list-card ul li .rate .num .fu {
	width: auto; height: 50px; color: rgb(188, 52, 52); line-height: 50px; font-size: 42px; font-style: normal; float: left; display: inline-block;
}
.product-list-card ul li .rate .num .dan {
	width: auto; height: 50px; color: rgb(188, 52, 52); line-height: 70px; padding-left: 4px; font-size: 18px; font-style: normal; float: left; display: inline-block;
}
.product-list-card ul li .rate .num em {
	width: 8px; height: 50px; color: rgb(188, 52, 52); line-height: 70px; font-size: 12px; font-style: normal; float: left; display: inline-block;
}
.product-list-card ul li .rate .nian {
	width: 170px; height: 20px; text-align: center; color: rgb(153, 153, 153); line-height: 20px; font-size: 12px; display: block;
}
.product-list-card ul li .rate .new {
	background: rgb(240, 240, 240); padding: 0px 6px; border-radius: 6px; width: auto; height: 20px; text-align: center; color: rgb(153, 153, 153); line-height: 20px; overflow: hidden; font-size: 12px; margin-top: 12px; display: inline-block; max-width: 130px;
}
.product-list-card ul li .rate .highest {
	width: 170px; height: 28px; text-align: center; color: rgb(153, 153, 153); line-height: 28px; font-size: 12px; display: inline-block;
}
.product-list-card ul li .mtop {
	height: 123px; margin-top: 47px;
}
.product-list-card ul li .name {
	width: 170px; height: 49px; overflow: hidden; border-top-color: rgb(235, 235, 235); border-top-width: 1px; border-top-style: solid;
}
.product-list-card ul li .name a {
	width: 100%; height: 50px; text-align: center; color: rgb(188, 52, 52); line-height: 50px; font-size: 14px; display: block; cursor: pointer;
}
.product-list-card ul li:first-child {
	margin-left: 0px;
}
.glpb-com-glpb_we_com_pc_lp_product_group {
	box-sizing: border-box;
}
.glpb-com-glpb_we_com_pc_lp_product_group .title {
	height: 25px; text-align: center; color: rgb(51, 51, 51); line-height: 1; font-size: 25px; font-weight: 600;
}
.glpb-com-glpb_we_com_pc_lp_product_group .line {
	margin: 14.5px auto 25px; width: 50px; height: 4.5px; background-color: rgb(249, 103, 18);
}
.glpb-com-glpb_we_com_pc_lp_product_group .card {
	margin: 0px auto; text-align: center; font-size: 0px;
}
.glpb-com-glpb_we_com_pc_lp_product_group .card-item {
	margin: 0px 15px; padding: 30.5px 0px 32.5px; width: 340px; height: 279px; display: inline-block; box-sizing: border-box; background-color: rgb(255, 255, 255);
}
.glpb-com-glpb_we_com_pc_lp_product_group .card-title {
	text-align: center; color: rgb(51, 51, 51); line-height: 1; font-size: 18px; font-weight: 600; margin-bottom: 13px;
}
.glpb-com-glpb_we_com_pc_lp_product_group .card-time {
	text-align: center; color: rgb(153, 153, 153); line-height: 1; font-size: 14px; font-weight: normal; margin-bottom: 38px;
}
.glpb-com-glpb_we_com_pc_lp_product_group .card-rate {
	height: 29px; text-align: center; color: rgb(249, 103, 18); line-height: 29px; font-size: 39px; margin-bottom: 17.5px;
}
.glpb-com-glpb_we_com_pc_lp_product_group .card-percent {
	font-size: 18px;
}
.glpb-com-glpb_we_com_pc_lp_product_group .card-description {
	height: 14px; text-align: center; color: rgb(153, 153, 153); line-height: 14px; font-size: 14px; margin-bottom: 38px;
}
.glpb-com-glpb_we_com_pc_lp_product_group .card-button {
	margin: 0px auto; border-radius: 4px; width: 213px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-size: 14px; font-weight: 600; text-decoration: none; display: block; cursor: pointer; background-color: rgb(249, 103, 18);
}
.glpb-com-glpb_we_com_pc_lp_product_group .editor-place-holder-img {
	width: 1080px;
}
.glpb-com-glpb_we_com_lp_fixed_right_button {
	margin: auto; padding: 0px; right: 0px; display: none; position: fixed; z-index: 10000;
}
.glpb-com-glpb_we_com_lp_hegui_group .old-style .title {
	height: 25px; text-align: center; color: rgb(51, 51, 51); line-height: 1; font-size: 25px; font-weight: 600;
}
.glpb-com-glpb_we_com_lp_hegui_group .old-style .line {
	margin: 14.5px auto 0px; width: 50px; height: 4.5px; background-color: rgb(249, 103, 18);
}
.glpb-com-glpb_we_com_lp_hegui_group .old-style .credit {
	margin: 0px auto; text-align: center; font-size: 0px;
}
.glpb-com-glpb_we_com_lp_hegui_group .old-style :last-of-type.credit .credit-line {
	
}
.glpb-com-glpb_we_com_lp_hegui_group .old-style .credit-item {
	margin: 0px 103px; width: 345px; vertical-align: top; display: inline-block;
}
.glpb-com-glpb_we_com_lp_hegui_group .old-style .credit-title {
	text-align: center; color: rgb(51, 51, 51); line-height: 1; font-size: 20px; font-weight: 600; margin-bottom: 26.5px;
}
.glpb-com-glpb_we_com_lp_hegui_group .old-style .credit-description {
	text-align: justify; color: rgb(153, 153, 153); line-height: 1.83; font-size: 14px;
}
.glpb-com-glpb_we_com_lp_hegui_group .old-style .credit-line {
	margin: 70px auto 0px; width: 1030.5px; height: 1px; background-color: rgb(240, 240, 240);
}
.glpb-com-glpb_we_com_lp_hegui_group .old-style .credit-image {
	width: 345px; height: auto;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .title {
	height: 34px; text-align: center; color: rgb(51, 51, 51); line-height: 1; font-size: 34px; font-weight: 600; margin-top: 44px;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content .credit .credit-item1 {
	position: relative;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content .credit .credit-item2 {
	position: relative;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content .credit .credit-item1 .credit-image {
	float: right;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content .credit .credit-left {
	top: 50%; width: 510px; position: absolute; transform: translateY(-50%);
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content .credit .credit-right {
	top: 50%; width: 510px; position: absolute; transform: translateY(-50%);
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content .credit .credit-right {
	right: 0px;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content .credit .credit-image {
	width: auto; height: 100%;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content .credit .credit-title {
	color: rgb(51, 51, 51); line-height: 24px; letter-spacing: 0px; font-size: 28px; font-weight: bolder;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content .credit .credit-description {
	text-align: justify; color: rgb(102, 102, 102); line-height: 26px; font-size: 14px; margin-top: 20px;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content .credit {
	margin: 0px auto; width: 1080px;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content :nth-of-type(1).credit .credit-item1 {
	height: 212px; margin-top: 80px;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content :nth-of-type(1).credit .credit-item1 .credit-image {
	margin-right: 43px;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content :nth-of-type(1).credit .credit-item2 {
	height: 173px; margin-top: 50px;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content :nth-of-type(1).credit .credit-item2 .credit-image {
	margin-left: 76px;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content :nth-of-type(2).credit {
	padding-bottom: 80px;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content :nth-of-type(2).credit .credit-item1 {
	height: 264px; margin-top: 50px;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content :nth-of-type(2).credit .credit-item1 .credit-image {
	margin-right: 51px;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content :nth-of-type(2).credit .credit-item2 {
	height: 206px; margin-top: 50px;
}
.glpb-com-glpb_we_com_lp_hegui_group .new-style .credit-content :nth-of-type(2).credit .credit-item2 .credit-image {
	margin-left: 58px;
}
.glpb-com-glpb_we_com_pc_new_product_group {
	box-sizing: border-box;
}
.glpb-com-glpb_we_com_pc_new_product_group .title {
	height: 25px; text-align: center; color: rgb(51, 51, 51); line-height: 1; font-size: 25px; font-weight: 600;
}
.glpb-com-glpb_we_com_pc_new_product_group .line {
	margin: 14.5px auto 25px; width: 50px; height: 4.5px; background-color: rgb(249, 103, 18);
}
.glpb-com-glpb_we_com_pc_new_product_group .card {
	margin: 0px auto; text-align: center; font-size: 0px;
}
.glpb-com-glpb_we_com_pc_new_product_group .card .card-item {
	background-position: center; display: inline-block; box-sizing: border-box; background-repeat: no-repeat; background-size: 100% 100%;
}
.glpb-com-glpb_we_com_pc_new_product_group .card .card-item .card-title {
	text-align: center; color: rgb(51, 51, 51); line-height: 1; font-weight: 600;
}
.glpb-com-glpb_we_com_pc_new_product_group .card .card-item .card-time {
	text-align: center; color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
.glpb-com-glpb_we_com_pc_new_product_group .card .card-item .card-rate {
	text-align: center; color: rgb(249, 103, 18);
}
.glpb-com-glpb_we_com_pc_new_product_group .card .card-item .card-description {
	text-align: center; color: rgb(153, 153, 153);
}
.glpb-com-glpb_we_com_pc_new_product_group .card .card-item .card-button {
	margin: 0px auto; text-align: center; color: rgb(255, 255, 255); font-weight: 600; text-decoration: none; display: block; cursor: pointer; background-color: rgb(249, 103, 18);
}
.glpb-com-glpb_we_com_pc_new_product_group .editor-place-holder-img {
	width: 1080px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-old .card-item {
	margin: 0px 15px; padding: 30.5px 0px 32.5px; width: 340px; height: 279px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-old .card-item .card-title {
	font-size: 18px; margin-bottom: 13px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-old .card-item .card-time {
	font-size: 14px; margin-bottom: 38px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-old .card-item .card-rate {
	height: 29px; line-height: 29px; font-size: 39px; margin-bottom: 17.5px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-old .card-item .card-percent {
	font-size: 18px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-old .card-item .card-description {
	height: 14px; line-height: 14px; font-size: 14px; margin-bottom: 38px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-old .card-item .card-button {
	border-radius: 4px; width: 213px; height: 40px; line-height: 40px; font-size: 14px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(1).card-item {
	border-radius: 4px; width: 320px; height: 280px; padding-top: 37px; vertical-align: 20px; box-shadow: 0px 5px 15px #e6ebf5;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(3).card-item {
	border-radius: 4px; width: 320px; height: 280px; padding-top: 37px; vertical-align: 20px; box-shadow: 0px 5px 15px #e6ebf5;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(1).card-item .card-title {
	font-size: 18px; font-weight: bolder;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(3).card-item .card-title {
	font-size: 18px; font-weight: bolder;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(1).card-item .card-time {
	font-size: 14px; margin-top: 14px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(3).card-item .card-time {
	font-size: 14px; margin-top: 14px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(1).card-item .card-rate {
	line-height: 1; font-size: 40px; margin-top: 37px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(3).card-item .card-rate {
	line-height: 1; font-size: 40px; margin-top: 37px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(1).card-item .card-percent {
	font-size: 18px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(3).card-item .card-percent {
	font-size: 18px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(1).card-item .card-description {
	font-size: 14px; margin-top: 14px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(3).card-item .card-description {
	font-size: 14px; margin-top: 14px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(1).card-item .card-button {
	border-radius: 4px; width: 192px; height: 40px; line-height: 40px; font-size: 14px; margin-top: 16px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(3).card-item .card-button {
	border-radius: 4px; width: 192px; height: 40px; line-height: 40px; font-size: 14px; margin-top: 16px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(2).card-item {
	margin: 0px 20px; border-radius: 4px; width: 400px; height: 350px; padding-top: 44px; box-shadow: 0px 5px 18px #e6ebf5;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(2).card-item .card-title {
	font-size: 24px; font-weight: bolder;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(2).card-item .card-time {
	font-size: 18px; margin-top: 22px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(2).card-item .card-rate {
	line-height: 1; font-size: 50px; margin-top: 43px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(2).card-item .card-percent {
	font-size: 24px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(2).card-item .card-description {
	font-size: 18px; margin-top: 12px;
}
.glpb-com-glpb_we_com_pc_new_product_group .product-card-group-new :nth-of-type(2).card-item .card-button {
	border-radius: 4px; width: 240px; height: 50px; line-height: 50px; font-size: 18px; margin-top: 20px;
}
.Select {
	position: relative;
}
.Select input::-ms-clear {
	display: none !important;
}
.Select input::-ms-reveal {
	display: none !important;
}
.Select {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.Select div {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.Select input {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.Select span {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.Select.is-disabled .Select-arrow-zone {
	cursor: default; opacity: 0.35; pointer-events: none;
}
.Select.is-disabled > .Select-control {
	background-color: rgb(249, 249, 249);
}
.Select.is-disabled > .Select-control:hover {
	box-shadow: none;
}
.Select.is-open > .Select-control {
	background: rgb(255, 255, 255); border-color: rgb(179, 179, 179) rgb(204, 204, 204) rgb(217, 217, 217); border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;
}
.Select.is-open > .Select-control .Select-arrow {
	border-width: 0px 5px 5px; border-color: transparent transparent rgb(153, 153, 153); top: -2px;
}
.Select.is-searchable.is-open > .Select-control {
	cursor: text;
}
:not(.is-open).Select.is-searchable.is-focused > .Select-control {
	cursor: text;
}
.Select.is-focused > .Select-control {
	background: rgb(255, 255, 255);
}
:not(.is-open).Select.is-focused > .Select-control {
	background: rgb(255, 255, 255); border-color: rgb(0, 126, 255); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 0px 3px rgba(0,126,255,0.1);
}
.Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
	padding-right: 42px;
}
.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label {
	color: rgb(51, 51, 51);
}
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
	color: rgb(51, 51, 51);
}
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label {
	text-decoration: none; cursor: pointer;
}
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
	text-decoration: none; cursor: pointer;
}
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover {
	color: rgb(0, 126, 255); text-decoration: underline;
}
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover {
	color: rgb(0, 126, 255); text-decoration: underline;
}
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus {
	color: rgb(0, 126, 255); text-decoration: underline;
}
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
	color: rgb(0, 126, 255); text-decoration: underline;
}
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus {
	background: rgb(255, 255, 255);
}
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
	background: rgb(255, 255, 255);
}
.Select.has-value.is-pseudo-focused .Select-input {
	opacity: 0;
}
.Select.is-open .Select-arrow {
	border-top-color: rgb(102, 102, 102);
}
.Select .Select-arrow-zone:hover > .Select-arrow {
	border-top-color: rgb(102, 102, 102);
}
.Select.Select--rtl {
	text-align: right; direction: rtl;
}
.Select-control {
	border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 100%; height: 36px; color: rgb(51, 51, 51); overflow: hidden; display: table; border-collapse: separate; position: relative; cursor: default; border-spacing: 0; background-color: rgb(255, 255, 255);
}
.Select-control:hover {
	box-shadow: 0px 1px 0px rgba(0,0,0,0.06);
}
.Select-control .Select-input:focus {
	background: rgb(255, 255, 255);
}
.Select-placeholder {
	left: 0px; top: 0px; right: 0px; bottom: 0px; color: rgb(170, 170, 170); line-height: 34px; overflow: hidden; padding-right: 10px; padding-left: 10px; white-space: nowrap; position: absolute; -ms-text-overflow: ellipsis; max-width: 100%;
}
.Select--single > .Select-control .Select-value {
	left: 0px; top: 0px; right: 0px; bottom: 0px; color: rgb(170, 170, 170); line-height: 34px; overflow: hidden; padding-right: 10px; padding-left: 10px; white-space: nowrap; position: absolute; -ms-text-overflow: ellipsis; max-width: 100%;
}
.Select-input {
	height: 34px; padding-right: 10px; padding-left: 10px; vertical-align: middle;
}
.Select-input > input {
	background: none; margin: 0px; padding: 8px 0px 12px; border: 0px currentColor; border-image: none; width: 100%; line-height: 17px; font-family: inherit; font-size: inherit; display: inline-block; cursor: default; box-shadow: none; -webkit-appearance: none;
}
.is-focused .Select-input > input {
	cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
	opacity: 0;
}
:not(.is-searchable).Select-control > .Select-input {
	
}
.Select-loading-zone {
	width: 16px; text-align: center; vertical-align: middle; display: table-cell; position: relative; cursor: pointer;
}
.Select-loading {
	border-width: 2px; border-style: solid; border-color: rgb(204, 204, 204) rgb(51, 51, 51) rgb(204, 204, 204) rgb(204, 204, 204); border-radius: 50%; animation:Select-animation-spin 400ms linear infinite; border-image: none; width: 16px; height: 16px; vertical-align: middle; display: inline-block; position: relative; box-sizing: border-box; -webkit-animation: Select-animation-spin 400ms infinite linear; -o-animation: Select-animation-spin 400ms infinite linear;
}
.Select-clear-zone {
	animation:Select-animation-fadeIn 200ms; width: 17px; text-align: center; color: rgb(153, 153, 153); vertical-align: middle; display: table-cell; position: relative; cursor: pointer; -webkit-animation: Select-animation-fadeIn 200ms; -o-animation: Select-animation-fadeIn 200ms;
}
.Select-clear-zone:hover {
	color: rgb(208, 2, 27);
}
.Select-clear {
	line-height: 1; font-size: 18px; display: inline-block;
}
.Select--multi .Select-clear-zone {
	width: 17px;
}
.Select-arrow-zone {
	width: 25px; text-align: center; padding-right: 5px; vertical-align: middle; display: table-cell; position: relative; cursor: pointer;
}
.Select--rtl .Select-arrow-zone {
	padding-right: 0px; padding-left: 5px;
}
.Select-arrow {
	border-width: 5px 5px 2.5px; border-style: solid; border-color: rgb(153, 153, 153) transparent transparent; width: 0px; height: 0px; display: inline-block; position: relative;
}
.Select-control > *:last-child {
	padding-right: 5px;
}
.Select--multi .Select-multi-value-wrapper {
	display: inline-block;
}
.Select .Select-aria-only {
	margin: -1px; width: 1px; height: 1px; overflow: hidden; float: left; display: inline-block; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.Select-menu-outer {
	border-width: 1px; border-style: solid; border-color: rgb(230, 230, 230) rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; top: 100%; width: 100%; margin-top: -1px; position: absolute; z-index: 1; max-height: 200px; box-sizing: border-box; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; box-shadow: 0px 1px 0px rgba(0,0,0,0.06); background-color: rgb(255, 255, 255); -webkit-overflow-scrolling: touch;
}
.Select-menu {
	-ms-overflow-y: auto; max-height: 198px;
}
.Select-option {
	padding: 8px 10px; color: rgb(102, 102, 102); display: block; cursor: pointer; box-sizing: border-box; background-color: rgb(255, 255, 255);
}
:last-child.Select-option {
	border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
	color: rgb(51, 51, 51); background-color: rgba(0, 126, 255, 0.04);
}
.Select-option.is-focused {
	color: rgb(51, 51, 51); background-color: rgba(0, 126, 255, 0.08);
}
.Select-option.is-disabled {
	color: rgb(204, 204, 204); cursor: default;
}
.Select-noresults {
	padding: 8px 10px; color: rgb(153, 153, 153); display: block; cursor: default; box-sizing: border-box;
}
.Select--multi .Select-input {
	padding: 0px; margin-left: 10px; vertical-align: middle;
}
.Select--multi.Select--rtl .Select-input {
	margin-right: 10px; margin-left: 0px;
}
.Select--multi.has-value .Select-input {
	margin-left: 5px;
}
.Select--multi .Select-value {
	border-radius: 2px; border: 1px solid rgba(0, 126, 255, 0.24); border-image: none; color: rgb(0, 126, 255); line-height: 1.4; font-size: 0.9em; margin-top: 5px; margin-left: 5px; vertical-align: top; display: inline-block; background-color: rgba(0, 126, 255, 0.08);
}
.Select--multi .Select-value-icon {
	vertical-align: middle; display: inline-block;
}
.Select--multi .Select-value-label {
	vertical-align: middle; display: inline-block;
}
.Select--multi .Select-value-label {
	padding: 2px 5px; cursor: default; border-top-right-radius: 2px; border-bottom-right-radius: 2px;
}
.Select--multi a.Select-value-label {
	color: rgb(0, 126, 255); text-decoration: none; cursor: pointer;
}
.Select--multi a.Select-value-label:hover {
	text-decoration: underline;
}
.Select--multi .Select-value-icon {
	padding: 1px 5px 3px; border-right-color: rgba(0, 126, 255, 0.24); border-right-width: 1px; border-right-style: solid; cursor: pointer; border-top-left-radius: 2px; border-bottom-left-radius: 2px;
}
.Select--multi .Select-value-icon:hover {
	color: rgb(0, 113, 230); background-color: rgba(0, 113, 230, 0.08);
}
.Select--multi .Select-value-icon:focus {
	color: rgb(0, 113, 230); background-color: rgba(0, 113, 230, 0.08);
}
.Select--multi .Select-value-icon:active {
	background-color: rgba(0, 126, 255, 0.24);
}
.Select--multi.Select--rtl .Select-value {
	margin-right: 5px; margin-left: 0px;
}
.Select--multi.Select--rtl .Select-value-icon {
	border-right-color: currentColor; border-left-color: rgba(0, 126, 255, 0.24); border-right-width: medium; border-left-width: 1px; border-right-style: none; border-left-style: solid;
}
.Select--multi.is-disabled .Select-value {
	border: 1px solid rgb(227, 227, 227); border-image: none; color: rgb(51, 51, 51); background-color: rgb(252, 252, 252);
}
.Select--multi.is-disabled .Select-value-icon {
	border-right-color: rgb(227, 227, 227); border-right-width: 1px; border-right-style: solid; cursor: not-allowed;
}
.Select--multi.is-disabled .Select-value-icon:hover {
	background-color: rgb(252, 252, 252);
}
.Select--multi.is-disabled .Select-value-icon:focus {
	background-color: rgb(252, 252, 252);
}
.Select--multi.is-disabled .Select-value-icon:active {
	background-color: rgb(252, 252, 252);
}
